<div class="jumbotron">
  <h1 class="display-4">Seja bem vindo ao nosso BlogApp do Node!</h1>
  <p class="lead">Este Blog foi desenvolvido com NodeJS + Express e MongoDB.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/registro" role="button">Crie uma conta</a>
</div>

<hr>
<h2>Postagens recentes:</h2>
{{#each postagens}}
    <div class="card">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <blockquote class="blockquote mb-0">
                <p>{{descricao}}</p>
                <a href="/postagem/{{slug}}" class="btn btn-success">Leia mais</a>
                <footer class="blockquote-footer">{{categoria.nome}} <cite title="Source Title">{{data}}</cite></footer>
            </blockquote>
        </div>
    </div>

{{else}}
    <h3>Sem postagens</h3>
{{/each}}