<div class="card mt-2">
    <div class="card-header">
        <h4>{{postagem.titulo}}</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{postagem.descricao}}</h5>
        <p class="card-text">{{postagem.conteudo}}</p>
        <small>{{postagem.data}} - {{postagem.categoria.nome}}</small>
        <br>
    </div>
</div>
